@{
    ViewData["Title"] = "Отчеты";
}

<h1 class="h3 mb-3">Отчеты</h1>

<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-action="AverageGrades">Средний балл студентов</a>
    <a class="list-group-item list-group-item-action" asp-action="Debtors">Список студентов с задолженностями</a>
    <a class="list-group-item list-group-item-action" asp-action="AttendanceSummary">Посещаемость по группам и дисциплинам</a>
</div>
