@model Student

@{
    ViewData["Title"] = "Изменить студента";
}

<h1 class="h3">Изменить студента</h1>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <partial name="_StudentForm" model="Model" />
    <button class="btn btn-primary" type="submit">Сохранить</button>
    <a class="btn btn-secondary" asp-action="Index">Назад</a>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
