@model Teacher

@{
    ViewData["Title"] = "Добавить преподавателя";
}

<h1 class="h3">Добавить преподавателя</h1>
<form asp-action="Create" method="post">
    <partial name="_TeacherForm" model="Model" />
    <button class="btn btn-primary" type="submit">Сохранить</button>
    <a class="btn btn-secondary" asp-action="Index">Назад</a>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
